In [1]:
# index start from 0
a = ["sumi",1,2,3]
print(a[0])

sumi

In [2]:
print(a[-1])

3

In [3]:
a[2]=100

In [4]:
print(a[2])

100

In [5]:
##List Slicing

In [8]:
a[0:]

['sumi', 1, 100, 3]

In [9]:
a[1:3]

[1, 100]

In [10]:
a[:]

['sumi', 1, 100, 3]

In [11]:
a[:3] # it will go to till index 2

['sumi', 1, 100]

In [1]:
## various list operation in python

In [2]:
##List Traversal in python : access the elements in a list one by one

In [3]:
#forward indexing start from 0 and backward indexing start from -1

In [4]:
#first way
a =['sumi',10,'marufa',12]

In [6]:
for i in a:
    print(i)

sumi
10
marufa
12

In [7]:
#second method
a

['sumi', 10, 'marufa', 12]

In [9]:
print(len(a))

4

In [11]:
for i in range(len(a)):
    print(a[i])

sumi
10
marufa
12

##LIST FUNCTION-Built in Function
len(): determine the length of the list
max(): find maximum value
Min():

case1:
what if we have a list of string and integer values and we want to use max function.In this case this will produce an error message stating that string and integer value comparison is not possible

case 2:
what if string value comparison is there. In such case it will compared as to a to z an ascending order

In [12]:
#cmp(list1,list2): does not work p3

In [13]:
##append():add object at the end of the list

In [17]:
##list.count():This method is used to count the frequency of a given object

a= ['sumi',12,'marufa',14,'sumi']
x = a.count('sumi')
print(x)

2

In [19]:
#index() : list.index()
a.index('sumi')

0

In [20]:
##list.insert(index,obj)
a.insert(2,'ayman')

In [21]:
a

['sumi', 12, 'ayman', 'marufa', 14, 'sumi']

In [23]:
##list.remove(obj) -remove object from its first index 
a.remove('sumi')

In [24]:
a

[12, 'ayman', 'marufa', 14, 'sumi']

In [25]:
##list.reverse()

In [26]:
a.reverse()

In [27]:
a

['sumi', 14, 'marufa', 'ayman', 12]

In [28]:
#sort() :sort the element in ascending order or descending order
#list.sort(reverse=True)
#list.sort(reverse = False)

In [30]:
b =[3,2,6,7,4,9]

In [31]:
b.sort()

In [35]:
b

[2, 3, 4, 6, 7, 9]

In [37]:
b.sort(reverse=True)

In [38]:
b

[9, 7, 6, 4, 3, 2]

In [39]:
##pop(): remove last element from the list
#list.pop()
b.pop()

2

In [40]:
b

[9, 7, 6, 4, 3]

## Basic list program

1. Python program to find sum of List elements
2.program to count the total number of odd and even number in the list
3.program to find sum of even numbers and product of odd numbers in the list
4.product to count frequency of a given number
5.program to search a number of the list
6.program to find maximum number of the list
7.program to find minimum number of the list
8.program to reverse the list itself
9.program to insert a number at given index in a list
10.program to remove a given number from alist

1. Python program to find sum of List elements

In [41]:
def add_(lst):
    sum_ =0
    for i in range(len(lst)):
        sum_ = sum_ + lst[i]
    return sum_

In [42]:
add_([1,2,3,4,5])

15

In [ ]:
## write a program to determine the sum of list elements which are greater than 5 and less than 10

In [45]:
def addition(lst):
    s =0
    for i in range(len(lst)):
        if lst[i]>=5 and lst[i]<=10:
            s =s+lst[i]
    return s

In [46]:
addition([4,5,10,12])

15

program to find the sum of  the  odd and even number in the list

In [49]:
##Fisrt approach
def odd_even_sum(lst):
    odd_sum =0
    even_sum=0
    for i in range(len(lst)):
        if lst[i]%2==0:
            even_sum+=lst[i]
        else:
            odd_sum+=lst[i]
    print('sum of odd number = ',odd_sum)
    print('sum of even number = ', even_sum)

In [50]:
odd_even_sum([1,2,3,4,5,6,7,8,9,10])

sum of odd number =  25
sum of even number =  30

In [51]:
##second approach
def o_e_sum(lst):
    odd=0
    even =0
    for i in lst:
        if i%2==0:
            even +=i
        else:
            odd+=i
    print('even =',even)
    print('odd = ',odd)

In [52]:
o_e_sum([1,2,3,4,5,6,7,8,9,10])

even = 30
odd =  25

2.program to count the total number of odd and even number in the list

In [65]:
## first approach
def count_odd_even(lst):
    even =0
    odd = 0
    for i in lst:
        if i%2==0:
            even+=1
        else:
            odd+=1
    print("Total Odd number: ",odd)
    print("Total even number: ", even)

In [66]:
count_odd_even([1,2,3,4,5,6])

Total Odd number:  3
Total even number:  3

In [67]:
##Second approach
def odd_even_count(lst):
    odd =0
    even =0
    for i in range(len(lst)):
        if lst[i]%2==0:
            even +=1
        else:
            odd+=1
    print("Odd = ",odd)
    print("even = ",even)

In [69]:
odd_even_count([1,2,3,4,5,6])

Odd =  3
even =  3

3.program to find sum of even numbers and product of odd numbers in the list

In [68]:
##First approach'

def odd_even(lst):
    o=1
    e = 0
    for i in range(len(lst)):
        if lst[i]%2==0:
            e += lst[i]
        else:
            o *= lst[i]
            
    print(" Even sum = ", e)
    print('odd product = ', o)

In [62]:
odd_even([1,2,3,4,5,6,7,8,9,10])

 Even sum =  30
odd product =  945

In [58]:
def o_e(lst):
    odd=1
    even =0
    for i in lst:
        if i%2==0:
            even +=i
        else:
            odd*=i
    print('even =',even)
    print('odd = ',odd)

In [59]:
o_e([1,2,3,4,5,6,7,8,9,10])

even = 30
odd =  945

4.program to count frequency of a given number

In [78]:
##approach 1
lst = [1,2,3,3,3,3,4,5,6]
lst.count(3)

4

In [80]:
##approach 2
lst = [1,2,3,4,5,6,7]

count = 0
key = 7
for i in range(len(lst)):
    if lst[i]==key:
        count=count+1
print(count)

1

5.program to search a number in the list

In [77]:
##sequential/linear search -normal search we do

lst = [1,2,3,4,5,6]
flag =0
position = 0
for i in range(len(lst)):
    if lst[i]==3:
        flag +=1
        position = i+1
        break
        
if flag==1:
    print('Found '+ 'position at',position)
else:
    print('Not found')

Found position at 3

Find Max anfd Minimum number in a python list

In [83]:
def find_max(lst):
    max_ = lst[0]
    for i in range(len(lst)):
        if max_ <= lst[i]:
            max_ = lst[i]
    return max_

In [84]:
find_max([1,2,3,4])

4

In [85]:
def find_min(lst):
    min_= 0 # This is the problem if we dont use indexing
    for i in lst:
        if min_>i:
            min_= i
    return min_

In [86]:
find_min([1,2,3,4,5])

0

In [87]:
def find_min(lst):
    min_= lst[0]
    for i in range(len(lst)):
        if min_>lst[i]:
            min_= lst[i]
    return min_

In [88]:
find_min([1,2,3,4,5])

1

## program to find lowest and second lowest number from a list

In [92]:
lst = [1,2,3,4,5,6]
mi = lst[0]
for i in range(len(lst)):
    lst.sort()
print("min = ", lst[0])
print("second min = " ,lst[1])
print("max = ",lst[-1])

min =  1
second min =  2
max =  6

### Q. write a program to shift all the element of a list one step left
input: 5,10,15,20,25

output:10,15,20,25,5

In [97]:
##dynamic list
a =[]
size = int(input("Enter the size of your list : "))
for i in range(size):
    val = int(input("Enter element : "))
    a.append(val)
print (a)

key = a[0]
for i in range(1,size):
    a[i-1]=a[i]
a[size-1]=key
print(a)

Enter the size of your list : 5
Enter element : 1
Enter element : 2
Enter element : 3
Enter element : 4
Enter element : 5
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 1]

In [100]:
##dynamic list-right shift
a =[]
size = int(input("Enter the size of your list : "))
for i in range(size):
    val = int(input("Enter element : "))
    a.append(val)
print (a)

last_element = a[size-1]
for i in range(size-2,-1,-1):
    a[i+1]=a[i]
a[0]=last_element
print(a)

Enter the size of your list : 5
Enter element : 1
Enter element : 2
Enter element : 3
Enter element : 4
Enter element : 5
[1, 2, 3, 4, 5]
[5, 1, 2, 3, 4]

In [1]:
##Inserting an element at a given position in a list

In [ ]:
##COFFE _ SHOP_ORDER

In [2]:
def coffee_order(lst):
    flag =0
    for i in range(0,len(lst)):
        if lst[i] in lst:
            flag+=1
    if flag>=2:
        return True
    else:
        return False

In [3]:
coffee_order(['americano','latte','latte','americano','expresso'])

True